<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="Tips, tricks, missteps, and minor revelations on the path to Scala wisdom" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Graceless Failures - Atom" href="http://feeds.feedburner.com/GracelessFailures" />
    <title>Graceless Failures &mdash; {{ page.title }}</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1 id="title">
          <a href="/" title="home">Graceless Failures</a>
        </h1>
        <h2 id="subtitle">
          Tips, tricks, missteps, and minor revelations on the path to
          <a href="http://scala-lang.org/">Scala</a> wisdom.
        </h2>
      </header>
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a> &bull;
        <a href="http://al3x.net/">Author</a>
        <div id="twitterbadge">
          <a href="http://twitter.com/gracelessblog">
            <img src="http://twitter-badges.s3.amazonaws.com/follow_me-b.png" alt="Follow gracelessblog on Twitter" />
          </a>
        </div>
        <form action="http://www.google.com/cse" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="000652178004161548235:xgss44dpkx4" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" size="40" />
            <input type="submit" name="sa" value="Search" />
          </div>
        </form>
      </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>